.c-goal-category {
	display: inline-block;
	/* background-color: rgb(245, 245, 245); */
	background-color: #FD786D;
	height: 140px;
	width: 140px;
	margin: 10px;
	vertical-align: top;
	text-align: center;
	/* border: 1px solid darkgray; */
	/* border-radius: 10px; */
}

/* .c-goal-category:nth-child(n+2) {
	margin-left: 0px;
}

.c-goal-category:nth-last-child(2) {
	margin-right: 0px;
} */

.c-goal-category__header-block {
	background-color: #FD786D;
	width: 100%;
	height: 20px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	font-size: 0.8em;
	text-align: left;
}

.c-goal-category__header-text {
	margin-left: 8px;
	padding-top: 3px;
	color: white;
}

.c-goal-category__category-title {
	color: white;
	font-weight: 500;
	position: relative;
	top: 50%;
	transform: translateY(-50%); 
	white-space: pre-wrap;
}

.c-goal-category__category-status {
	color: white;
	font-weight: 100;
	font-size: 0.75em;
	margin-bottom: 5px;
	position: absolute;
	top: 10em;
	bottom: 0%;
	left: 50%;
	transform: translateX(-50%);
}

.c-goal-category__number-of-goals {
	color: white;
	font-weight: 100;
	font-size: 0.75em;
	margin: 0;
	position: relative;
	position: absolute;
	top: 10.5em;
	bottom: 0%;
	left: 50%;
	transform: translateX(-50%);
}

.c-goal-category__category-info {
	padding-top: 50%;
	position: relative;
}