.c-goal-dropdown {
	float: right;
	margin-right: 10px;
	margin-top: 0.2em;
	z-index: 1;
}

.c-goal-dropdown__img {
	height: 1em;
}

.c-goal-dropdown__dropdown-menu {
	left: -150px;
}

.c-goal-dropdown__divider {
	margin: 0;
	padding: 0;
}

/* Custom Dropdown ul */
div.c-goal-dropdown__dropdown-menu > ul {
	margin-bottom: 0;
}

/* Custom Dropdown li */
.c-goal-dropdown__menu-li {
	text-align: right;
	/* margin: 5px 0; */
	padding: 5px 0;
}

.c-goal-dropdown__menu-li:hover {
	background-color: rgb(235, 235, 235);
}

.c-goal-dropdown__menu-li:active {
	background-color: rgb(148, 147, 229);
}

/* Custom Dropdown a */
.c-goal-dropdown__menu-li > a {
	color: black;
	font-size: 14px;
	padding: 0 5px;
}

.c-goal-dropdown__menu-li > a:hover {
	text-decoration: none;
}

.c-goal-dropdown__menu-li > a:active {
	text-decoration: none;
}