.c-goals {
	padding-top: 10px;
}

@media (max-width: 480px) {
	.c-goals {
		width: 320px;
		margin: 0 auto;
	}
}

@media (min-width: 769px) {
	.c-goals {
		display: flex;
		flex-wrap: wrap;
		box-sizing: border-box;
		padding: 10px;
	}
}