.c-goal-comments {
	min-height: 50px;
	background-color: #FD776C;
	border-radius: 0 0 8px 8px;
	display: flex;
}

.c-goal-comments__input-wrapper {
	display: flex;
	justify-content: space-around;
	align-items: center;
	/* padding-top: 15px; */
}

.c-goal-comments__user-avatar {
	height: 25px;
	border-radius: 50%;
}

.c-goal-comments__input {
	min-width: 60vw;
}

.c-goal-comments__input-flex-block {
	flex-grow: 1;
	margin-right: 20px;
	margin-bottom: -0.5em;
	padding-top: 0.5em;
}

.c-goal-comments__avatar-flex-block {
	margin-left: 10px;
	margin-right: 10px;
}