.l-new-goal {
}

.c-new-goal-form {

}

.c-new-goal-form__section {
	margin-top: 10px;
	margin-bottom: 20px;
}

.c-new-goal-form__section-heading {
	margin-left: 5px;
}

.c-new-goal-form__divider {
	border-top: 1px solid #979797;
}