.c-progress-nav {
	list-style-type: none;
	display: flex;
	padding: 0;
	margin: 0;
}

.c-progress-nav__link {
	flex: 1;
	text-align: center;
}

.c-progress-nav__link--non-active-link span {
	color: #808080;
}

.c-progress-nav__link--active-link {
<<<<<<< HEAD
	color: #589c64;
	border-bottom: 2px solid #589c64;
}

.c-progress-nav__link--active-link span {
	color: #589c64;
=======
	color: #47624C;
	border-bottom: 2px solid #47624C;
}

.c-progress-nav__link--active-link span {
	color: #47624C;
>>>>>>> ede1a216c6503be6fe2d236f08700de30701eded
}

.c-progress-nav span {
	padding: 1em 0 1em 0;
	text-decoration: none;
	width: 100%;
	display: inline-block;
	font-family: Arial;
	text-transform: uppercase;
	font-size: 2.5vh;
	font-weight: bold;
}

@media(min-width: 769px) {
	.c-progress-nav span {
		padding: .5em 0;
		font-size: 2.5vh;
	}

	.c-progress-nav {
	  padding: 15px;
	  width: 400px;
	  flex-basis: 30%;
	}
}

