.c-resource-category-container {
    display: flex;
    flex-direction: column;
}
.c-resource-category {
    background-color: #FD786D;
    position: relative;
    display: flex;
    flex: 1;
    height: 225px;
    justify-content: center;
    align-items: center;
    margin: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,.15);
} 
.c-resource-category p {
    color: white;
    font-size: 2em;
}
.c-category-dots {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 7.5px;
    cursor: pointer;
}
.categoryDropdown {
    transform: translate3d(130px, 20px, -20px) !important;
}
.c-category-link {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.c-resource-category p:hover {
    color: white;
}

#newResourceCategory .modal-dialog {
    -webkit-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
    top: 50%;
    margin: 0 auto;
}

.c-modal-button {
    background: none;
    border: 1px solid #ccc;
    margin: 0 2.5px;
}

input.c-modal-button {
    flex: unset;
}

.c-modal-button-container {
    display: flex;
    justify-content: center;
}

@media(min-width: 769px) {
    .c-resource-category-container {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 2em;
    }
    .c-resource-category {
        margin: 10px 1.65%;
        flex: unset;
        flex-basis: 30%;
    }
    .categoryDropdown {
        transform: translate3d(155px, 20px, -20px) !important;
    }
}