.c-resources-container {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.c-resource {
    flex-basis: 30%;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 0 0 15px rgba(0,0,0,0.25);
    margin: 15px 0;
    position: relative;
}

.resourceDropdown {
    transform: translate3d(120px, 20px, -20px) !important;
}

.c-resource-title {
    background-color: #FD786D;
    text-align: center;
    padding: 5px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.c-resource-body {
    text-align: center;
    padding: 15px 5px;
    background-color: white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

#newResource .modal-dialog {
    -webkit-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
    top: 50%;
    margin: 0 auto;
}

.c-resource-dots {
    position: absolute;
    right: 10px;
    top: 5px;
    width: 5px;
    cursor: pointer;
}

@media(min-width: 769px) {
    .c-resources-container {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 2em;
    }
    .c-resource {
        margin: 15px 1.65%;
    }
    .resourceDropdown {
        transform: translate3d(155px, 20px, -20px) !important;
    }
}