.c-task-comments {
	min-height: 50px;
	background-color: #FD786D;
	border-radius: 0 0 8px 8px;
	/* display: flex; */
}

.c-task-comments__input-wrapper {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-top: 1em;
}

.c-task-comments__user-avatar {
	height: 25px;
	border-radius: 50%;
}

.c-task-comments__input {
	min-width: 60vw;
}

.c-task-comments__input-flex-block {
	flex-grow: 1;
	margin-right: 20px;
	/* margin-bottom: -0.5em; */
	padding-top: 0.5em;
}

.c-task-comments__avatar-flex-block {
	margin-left: 10px;
	margin-right: 10px;
}

.c-task-comments__comment {
	display: flex;
	min-height: 34px;	/* Matches bootstrap input above */
	align-items: center;
	padding-top: 20px;
}

.c-task-comments__comment__avatar-flex-box {
	margin-left: 10px;
	margin-right: 10px;
}

.c-task-comments__user-avatar {
	
}

.c-task-comments__comment-from-user__text-flex-box {
	display: flex;
	align-items: center;
	flex-grow: 1;
	background-color: white;
	border-radius: 4px;
	margin-right: 20px;
}

.c-task-comments__comment-from-other__text-flex-box {
	display: flex;
	align-items: center;
	flex-grow: 1;
	background-color: white;
	border-radius: 4px;
	margin-left: 20px;
}

.c-task-comments__comment__text {
	font-size: 14px;	/* Matches bootstrap input above */
	padding-left: 12px;	/* Matches bootstrap input above */
	margin: 6px 0;
	/*padding-top: 6px;	/* Matches bootstrap input above */
}