/* .c-upcoming-goals__heading {
	font-size: 2.3em;
	font-weight: 500;
	margin-top: 20px;
}

.c-upcoming-goals__hr {
	border-top-color: darkgray;
	margin: 10px 0;
} */

.l-upcoming-goals {
	margin-top: 20px;
}

@media(min-width: 769px) {
	.l-upcoming-goals {
		display: flex;
		flex-wrap: wrap;
	}
}