.c-network-form .c-network-search {
	display: flex;
	margin: .8em 0 0 .7em;
}

@media(min-width: 789px) {
	.c-network-form .c-network-search {
		margin-bottom: 1em;
		flex: 1;
		display: flex;
		flex-wrap: nowrap;
		width: 100%;
	}

	.c-network-form #networkSearch {
		flex: 1;
	}

	.c-network-form {
		width: 100%;
	}
}