.c-contact-profile__profile-img {
    align-items: center;
    justify-content: center;
    clear: both;
}

.c-contact-profile__profile-img img {
    display: block;
    width: 30%;
    border-radius: 50%;
    margin: 2.5em auto 2em auto;
}

.c-contact-profile__contact-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5em;
}

.c-contact-profile__contact-icons__phone {
    text-align: right;
    margin-right: .25em;
}

.c-contact-profile__contact-icons__msg {
    margin-left: .25em;
}

.c-contact-profile__contact-icons img {
    border-radius: 50%;
    width: 25%;
}

/* .c-contact-profile__contact-icons__msg button {
    background-color: #EBECED;
    border-color: #EBECED;
} */

/* .c-contact-profile__contact-icons__msg button:hover {
    background-color: #EBECED;
    border-color: #EBECED;
} */

.c-contact-profile__profile-info {
    margin: 0 3em 1em 3em;
    font-size: 1.25em;
}

.c-contact-profile__header {
    width: 100%;
    display: flex;
    border-bottom: 2px solid #808080;
}

.c-contact-invite {
    display: flex;
    justify-content: center;
}

.c-contact-invite-button {
    border: none;
    background-color: #73C9B1;
    color: white;
    padding: .5em 1.5em;
    margin-bottom: 1em;
    font-size: 2.5vh;
}

.c-contact-profile__header__profile-name {
    text-align: center;
    font-size: 4vh;
    font-weight: 400;
    display: block;
    margin: 0;
    padding: .7em 0;
    border-bottom: 2px solid #808080;
}

.c-contact-profile__header__back-btn {
    float: left;
    font-size: 3.5vh;
    color: lightgray;
    background-color: transparent;
    border: none;
}

.c-request-profile__button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5em 1.5em;
    margin-bottom: 1em;
    font-size: 2.5vh;
}

.c-request-profile__button--pending {
    background-color: #FD786D;
    color: white;
    padding: .5em 1em;
    border-radius: 4px;
}

.c-request-profile__button--approve {
    padding: .5em 1.5em;
    margin-right: .5em;
    background-color: #FD786D;
    color: white;
}

.c-request-profile__button--deny {
    padding: .5em 1.5em;
    background-color: white;
}

@media(min-width: 769px) {
    .c-contact-profile {
        flex-basis: 70%;
        height: 73.5vh;
        overflow: scroll;
        border: 1px solid #9C9B9B;
        border-left: none;
    }
    .c-contact-profile__contact-icons__phone {
        width: 30%
    }
    
    .c-contact-profile__contact-icons__msg {
        width: 30%;
    }
    .c-contact-profile__profile-img img {
        width: 20%;
    }
}