.c-contact-list-header {
    text-align: center;
    margin: 0 0 0 0;
    border-bottom: 1px solid #9C9B9B;
    padding: .7em 0;
    font-size: 4vh;
    font-weight: 400;
}
.c-contact-card-list-link-wrapper {
    color: black;
}

.c-contact-list-card {
    justify-content: center;
    padding: 1em 0;
}

.c-contact-list .c-contact-card {
    border-bottom: 1px solid #9C9B9B;
    border-top: none;
}

.c-contact-card-list-link-wrapper:hover {
    color: black;
}
@media(min-width: 769px) {
    .c-contact-list-header {
        margin: 0;
    }

    .c-contact-list {
        flex-basis: 30%;
        height: 73.5vh;
        overflow: scroll;
        background-color: white;
        border: 1px solid #9C9B9B;
    }
    .c-contact-card {
        border-bottom: 1px solid #9C9B9B;
        border-top: none;
    }
}
