/**  Bootstrap Overrides  **/

/* .container-fluid {
    padding-top: .2em;
} */

/**  Layout  **/

.l-contacts {
    background-color: white;
}

/**  Components  **/
.l-contacts:last-child{
    border-top: 1px solid #9C9B9B;
}

.c-contact-card {
    display: flex;
    border-bottom: 1px solid #9C9B9B;
    align-items: center;
    padding: 1em 0 1em 0;
    background-color: white;
}

.c-contacts-count {
    margin-left: 1em;
    font-size: 2.3vh;
}

.c-contact-card__user-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: .6em;
    flex-basis: 18%;
    max-width: 200px;
}

.c-contact-card__user-img img {
    width: 75%;
    border-radius: 50%;
}

.c-contact-card__link {
    color: black;
}

.c-contact-card__link:hover, .c-contact-card__link:active {
    color: black;
    text-decoration: none;
}

.c-contact-card__details__full-name {
    font-family: Arial;
    padding-left: 1em;
    font-weight: 500;
    font-size: 2.5vh;
}

.c-contact-card-link-wrapper {
        text-decoration: none;
        color: black;
}
    