.c-navbar {
    background-color: #FD786D;
    width: 100%;
    top: 0;
    position: fixed;
    height: 8vh;
    z-index: 1;
}

.mt-2 {
    margin-top: 1em !important;
}

.c-navbar__desktop-nav-container {
  display: flex;
  align-items: center;
}

.notificationDropdown {
    margin-left: auto;
}
.notificationDropdown .dropdown-menu {
    width: 400px;
    background-color: #EBECED;
}
.dropdown .c-link-notifications {
    display: flex;
}
.dropdown .c-notification-badge {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: auto;
    background-color: red;
}

.milestoneLogo {
    margin-right: 15px;
}

.navLink {
    margin: 5px 10px 0;
    color: black;
}

i {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 2em;
}

p {
    padding: 0;
    margin: 0;
}