.ms-login-header {
	color: #FD786D;
	text-align: center;
	padding-top: 1em;
	margin-bottom: 1em;
	flex: 0 0 100%;
}

.ms-login-wrapper {
	/* background-color: #EBECED; */
	height: 60vh;
	width: 75%;
	display: flex;
	align-items: center;
}

.ms-login-wrapper .loginContent {
	width: 100%;
}

.ms-login-wrapper form {
	width: 100%;
	padding: 0;
}

.ms-login-title {
	color: black;
	padding-bottom: .5em;
	font-size: 22pt;
}

.ms-login-label {
	color: white;
	font-size: 14pt;
	font-weight: 100;
}

.ms-login-input {
	border-radius: 0;
	border: none;
}

.ms-login-btn-wrapper {
	float: right;
}

.ms-login-btn {
	color: white;
	background-color: #FD786D;
	border: none;
	margin-top: .5em;
	width: 100%;
}

.ms-login-btn:active {
	color: #FD786D;
	background-color: #FD786D;
	border: none;
}