/* .container-fluid {
    padding-top: .2em;
} */

/* .l-conversations .avatar, .l-conversations h4 {
    display: inline-block;
} */

.l-conversations {
    background-color: white;
    /* border-top: 1px solid #9C9B9B; */
}

.c-conversation-card {
    border-bottom: 1px solid #9C9B9B;
    padding: 1em 0 1em 0;
    display: flex;
}

.l-conversations .c-conversation-card:first-child {
    border-top: 1px solid #9C9B9B;
}

.c-conversation-card__user-img {
    max-width: 200px;
    margin-left: .6em;
    flex-basis: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.c-conversation-card__user-img img {
    width: 75%;
    border-radius: 50%;
}

.c-conversation-card__details {
    display: flex;
    flex-direction: column;
    padding-left: 1em;
    width: 60%;
}

.c-conversation-card__details__name-and-date {
    display: flex;
    align-items: baseline;
}

.c-conversation-card__details__name {
    font-family: Arial;
    margin: 0;
    padding: 0;
    font-size: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 75%;
}

.c-no-conversations {
    font-size: .8em;
    margin-top: .3em;
    padding: 0;
}

.c-conversation-card__details__date {
    float: right;
    clear: both;
    font-size: 16px;
    margin-left: auto;
}

.c-conversation-card {
    white-space: nowrap;
}

/* Currently Unused */

/* .c-conversation-card .messageContent {
    text-overflow: ellipsis;
} */
