.container-fluid {
    padding-top: .2em;
}

.conversations {
    background-color: white;
}

.conversations .avatar, .conversations h4 {
    display: inline-block;
}

.conversations .conversationCard {
    border-bottom: 1px solid #9C9B9B;
    padding: 1em 0 1em 0;
    display: flex;
}

.conversations .conversationCard:first-child {
    border-top: 1px solid #9C9B9B;
}

.userImage {
    max-width: 200px;
    margin-left: .6em;
    flex-basis: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.userImage img {
    width: 75%;
    border-radius: 50%;
}

.messageDetails {
    display: flex;
    flex-direction: column;
    padding-left: 1em;
    width: 60%;
}

.nameDate {
    display: flex;
    align-items: baseline;
}

.nameDate span {
    margin-left: auto;
}

.conversations h4 {
    font-family: Arial;
    margin: 0;
    padding: 0;
    font-size: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 75%;
}

.conversations p {
    font-size: .8em;
    margin-top: .3em;
    padding: 0;
}

.conversationCard .messageTime {
    float: right;
    clear: both;
    font-size: 16px;
}

.conversationCard {
    white-space: nowrap;
}

.conversationCard .messageContent {
    text-overflow: ellipsis;
}
