/* The navbar itself */
.c-navbar {
    background-color: #FD786D;
    width: 100%;
    display: flex;
    align-items: center;
}

/* Links inside the navbar */
.c-navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Navbar links on mouse-over */
.c-navbar a:hover {
    background: #ddd;
    color: black;
}

.c-navbar__logo-wrapper {
    flex: 1;
    height: 100%;
    
}

.c-navbar__logo-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* max-width: 30px; */
    max-height: 6vh;
    padding: .2em 0;
}

.c-navbar__btn {
    background: none;
    border: none;
    font-size: 4vh;
    display: flex;
    align-items: center;
}

.c-navbar__btn:hover {
    background: none;
    border: none;
}
