/**  The navbar itself  **/

.c-navbar {
    background-color: #FD786D;
    width: 100%;
    display: flex;
    align-items: center;
    top: 0;
    position: fixed;
    height: 8vh;
    z-index: 1;
}

.c-navbar a:hover, a:active {
    text-decoration: none;
}

.c-navbar__logo-wrapper {
    flex: 1;
    height: 100%;
    position: relative;
}

.c-navbar-logo-container {
    height: 80%;
    top: 50%;
    text-align: center;
    width: 100%;
    position: absolute;
    transform: translateY(-50%);
}

.c-navbar__logo-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* max-width: 30px; */
    height: 100%;
    padding: .2em 0;
    flex-grow: 1;
}

.c-navbar__btn {
    background: none;
    border: none;
    font-size: 4vh;
    display: flex;
    align-items: center;
    color: black;
}

.c-navbar__btn:hover {
    background: none;
    border: none;
}

.c-navbar__notification-btn {
    max-width: Calc(1em + 32px);    /* To match the other buttons on mobile. */
}

.c-navbar__font-awesome-icon {
    color: white;
    font-size: 1em;
}

.c-navbar__notification-counter-badge {
    left: -10px;
}

/**  Currently Unused  **/

/* Links inside the navbar */
/* .c-navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
} */

/* Navbar links on mouse-over */
/* .c-navbar a:hover {
    background: #ddd;
    color: black;
}  */
