.c-navbar {
    background-color: #FD786D;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    top: 0;
    position: fixed;
    height: 8vh;
    z-index: 2;
}

.c-navbar a:hover, a:active {
    text-decoration: none;
}

.c-navbar__logo-wrapper {
    flex-basis: 50px;
    display: flex;
    height: 100%;
    padding: 5px;
    margin-left: 10px;
}

.c-navbar__logo-img {
    width: 100%;
}

.c-navbar__link {
    color: black;
    padding: 5px;
    color: black;
    font-size: 2em;
}

.c-navbar__btn {
    background: none;
    font-size: 1em;
    padding: 5px;
    margin-right: 5px;
    border: none;
    color: black;
}

.c-navbar__btn:hover {
    background: none;
    border: none;
}

.c-nav-notifiactions {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.c-notification-badge {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: auto;
    background-color: red;
}

@media (min-width: 769px) {
    .c-navbar {
        background-color: #FD786D;
        width: 100%;
        top: 0;
        position: fixed;
        height: 8vh;
        z-index: 2;
    } 
    
    .mt-2 {
        margin-top: 1em !important;
    }
    
    .c-navbar__desktop-nav-container {
      display: flex;
      align-items: center;
    }
    
    .notificationDropdown {
        margin-left: auto;
    } 
    .notificationDropdown .dropdown-menu {
        width: 400px;
        background-color: #EBECED;
    } 

    .userDropdown .dropdown-menu {
        transform: translate3d(-150px, 40px, 0px) !important;
    }

    .notificationDropdown .dropdown-menu {
        transform: translate3d(-395px, 40px, 0px) !important;
        background-color: white;
    }
    
    .c-link-notifications {
        display: flex;
        padding: 0;
    }
    
    .dropdown .c-link-notifications {
        display: flex;
    }
    
    .dropdown .c-notification-badge {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: auto;
        background-color: red;
    }
    
    .milestoneLogo {
        margin-right: 15px;
    }
    
    .navLink {
        margin: 5px 10px 0;
        color: black;
    }
    
    .navLink:hover {
        color: #9C9B9B;
    }

    .navLink:focus {
        color: #9C9B9B;
        text-decoration: none;
    }
    
    i {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 2em;
        color: black;
    }
    
    p {
        padding: 0;
        margin: 0;
    }
    
    .c-navbar {
        height: 60px;
    }  
}
