.c-network-form .c-network-search {
	display: flex;
	flex: 1;
	flex-wrap: nowrap;
	margin: .8em 0 0 .7em;
}

@media(min-width: 789px) {
	.c-network-form {
		box-sizing: border-box;
		margin-bottom: 10px;
	}
	#networkSearch {
		width: 100%;
	}
}