.c-network-nav {
	list-style-type: none;
	display: flex;
	padding: 0;
	margin: 0;
}

.c-network-nav__link {
	flex: 1;
	text-align: center;
}

.c-network-nav__link--non-active-link {
	border-bottom: 2px solid #808080;
}

.c-network-nav__link--active-link {
	color: #FD786D;
	border-bottom: 2px solid #FD786D;
}

.c-network-nav a {
	padding: .8em 0 .8em 0;
	text-decoration: none;
	width: 100%;
	display: inline-block;
	font-family: Arial;
	text-transform: uppercase;
	color: #808080;
	font-size: 2.5vh;
}

