.l-network-content {
	margin-top: .8em;
}

.l-network-content form {
	display: flex;
	margin-bottom: 1em;
	margin-left: .7em;
}

.l-network-content input{
	flex: 1;
}

.l-network-content button {
	flex-basis: 40px;
}

.plus {
	margin: 0 .7em;
}
