.c-network-nav {
	list-style-type: none;
	display: flex;
	padding: 0;
	margin: 0;
	flex: 1;
}

.c-network-nav__link {
	flex: 1;
	text-align: center;
}

.c-network-nav__link--non-active-link {
	border-bottom: none;
}

.c-network-nav .c-network-nav__link--active-link {
	color: #FD786D;
	border-bottom: 2px solid #FD786D;
}

.c-network-nav a {
	padding: 1em 0 1em 0;
	text-decoration: none;
	width: 100%;
	display: inline-block;
	font-family: Arial;
	text-transform: uppercase;
	color: #b0b0b0;
	font-size: 2.5vh;
}


@media(min-width: 769px) {
	.c-network-nav .c-network-nav__link--active-link, .c-network-nav .c-network-nav__link--non-active-link {
		padding-bottom: 10px;
	}

	.c-network-nav {
		flex: unset;
		align-self: flex-start;
		width: 30%;
	}

}
