.l-notifications .c-notification-card-link-wrapper:last-child .c-notification-card {
    border-bottom: 1px solid #9C9B9B;
}

.c-notifications-header { 
    text-align: center;
    margin: 10vh 0 .2em 0;
    padding: .3em 0;
    font-size: 2.2em;
}
.c-notifications-dropdown-header {
    text-align: center;
    margin-top: 0;
    font-size: 2em;
    font-weight: 400;
}

.c-notification-card {
    color: black;
    text-decoration: none;
    display: flex;
    border: 1px solid #9C9B9B;
    border-bottom: none;
    align-items: center;
    padding: .8em 0 .8em 0;
}

.c-notification-card-background {
    background-color: rgba(253, 120, 109, .5);
}

.c-notification-user-avatar {
    display: flex;
    align-items: center;
    margin-left: .6em;
    flex-basis: 20%;
    max-width: 200px;
}

.c-notification-details {
    display: flex;
    width: 85%;
}

.c-notfication-details-body {
    text-overflow: ellipsis;
    /* white-space: nowrap; */
    overflow: hidden;
    width: 70%;
    margin-right: 2em;
    margin-left: 2em;
}

.c-notification-user-avatar img {
    width: 75%;
    border-radius: 50%;
}

@media(min-width: 769px) {
    .l-notifications {
        max-width: 700px;
        margin: 0 auto;
    }
    .c-notification-card {
        height: 50px;
    }
    .c-notification-user-avatar {
        max-width: 50px;
    }
    .c-notfication-details-body {
        flex: 1;
        width: unset;
        /* text-align: center; */
    }
}
