.c-participant-card {
    display: flex;
    flex: 1;
    border: 1px solid #9C9B9B;
    align-items: center;
	padding: 1.5em 0 1.5em 0;
    background-color: white;
}

.c-participant-card-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: .6em;
    flex-basis: 18%;
    /* max-width: 200px; */
}

.c-participant-card-image img {
    width: 75%;
    border-radius: 50%;
}
.c-name-goals-tasks {
    flex: 1;
    align-self: center;
    margin-left: 10px;
    color: black;
}
.c-participant-card-name {
    margin: 0;
}

@media(min-width: 769px) {
    .c-participant-card-wrapper {
        flex-basis: 41%;
        margin: 20px 4.5%;
        color: black;
    }

    .c-participant-card-image img {
        width: 85%;
    }
    .c-participant-card-image {
        margin-left: 4em;
    }

    .c-participant-card {
        height: 175px;
        display: flex;
    }
    .c-name-goals-tasks p {
        font-size: 1.3em;
    }
}

@media(min-width: 969px) {
    .c-participant-card-image {
        margin: 0 1.5em 0 6em;
    }
}