.c-participant-nav {
	list-style-type: none;
	display: flex;
	padding: 0;
	margin: 0;
	flex: 1;
}

.c-participant-nav__link {
	flex: 1;
	text-align: center;
}

<<<<<<< HEAD
.c-participant-nav .c-participant-nav__link--active-link {
	color: #589c64;
	border-bottom: 2px solid #589c64;
=======
.c-participant-nav__link--non-active-link {
	border-bottom: 2px solid #808080;
	border-bottom: none;
}

.c-participant-nav .c-participant-nav__link--active-link {
	color: #687D6C;
	border-bottom: 2px solid #687D6C;
>>>>>>> ede1a216c6503be6fe2d236f08700de30701eded
}

.c-participant-nav a {
	padding: 1em 0 1em 0;
	text-decoration: none;
	width: 100%;
	display: inline-block;
	font-family: Arial;
	text-transform: uppercase;
	color: #808080;
	font-size: 2.5vh;
}


@media(min-width: 769px) {
	.c-participant-nav .c-participant-nav__link--active-link, .c-participant-nav .c-participant-nav__link--non-active-link {
		padding-bottom: 10px;
	}

	.c-participant-nav {
		flex: unset;
		align-self: flex-start;
		flex-basis: 30%;
		padding-left: 1em;
	}

}
