/* .c-profile-container * {
    box-sizing: border-box;
}
.c-profile-container {
    display: block;
    height: 100vh;
    max-width: 350px;
} */

@media (max-width: 768px) {
    .c-profile-container {
        margin: 0;
        padding: 0;
    }

    .c-profile-container form {
        margin-top: 8vh;
        background-color: #EBECED;
    }

    .c-profile input {
        background-color: white;
        padding: .5em 1em;
    }
}
.c-profile {
    max-width: 450px;
    margin: 11vh auto 0;
    background-color: white;
    padding: 3em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.c-profile .btn {
    display: block; 
    margin: auto;
    margin-top: 1em;
}

.c-profile img {
    display: block;
    margin: 0 auto;
    width: 100%;
    border-radius: 50%;
    max-width: 100px;
}

.c-profile h1 {
    text-align: center;
}

.c-profile input[type=file] {
    border:  none;
    box-shadow: none;
}
.hide {
    display: none;
}

.show {
    display: block;
}

.c-profile input[type=text]:disabled {
    border: none;
    background-color: white;
    box-shadow: none;
    margin:auto;
}

.c-edit-button {
    display: block;
    margin: 2em auto 0;
}

.c-profile h2 {
    text-align: center;
    margin-bottom: .7em;
}